select,
input {
  width: 150px;
  display: inline-block;
  margin: 5px 0;
}

select {
  border: 1px solid #ccc;
  appearance: auto;
  padding: 10px;
  color: #7e7e7e;
  font-size: 0.8rem;
  line-height: 0.8rem;
  letter-spacing: 0.1rem;
}

input {
  @extend .poppins-regular;
  color: #7e7e7e;
  font-size: 0.8rem;
  line-height: 0.8rem;
  letter-spacing: 0.1rem;
  height: 25px;
  padding: 10px;
  appearance: auto;
  border: 1px solid #ccc;
}

.disabled {
  display: none;
}

.disabled {
  display: none;
}